<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReStyle - Sustainable Fashion Marketplace</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50">
    <!--NavBar-->
    {% include 'aroma/navbar.html' %}
    <!-- Hero Section -->
    {% include 'aroma/HeroSection.html' %}
    
    <!-- Categories -->
    {% include 'aroma/Categories.html' %}
    
    <!-- Featured Products -->
    {% include 'aroma/FeaturedProducts.html' %}
    
    <!-- Why Choose Us -->
    {% include 'aroma/WhyChooseUs.html' %}
    
    <!-- Newsletter -->
    {% include 'aroma/Newsletter.html' %}
    
    <!--Footer-->
    {% include 'aroma/footer.html' %}
</body>
</html>