<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReStyle - Sustainable Fashion Marketplace</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-50">
    <!--NavBar-->
    {% include 'aroma/navbar.html' %}
    <!-- Hero Section -->
    {% include 'aroma/indexSection/HeroSection.html' %}

    <!-- Categories -->
    {% include 'aroma/indexSection/Categories.html' %}

    <!-- Featured Products -->
    <section class="py-16 bg-gray-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
          <h2 class="text-3xl font-bold text-gray-900 mb-4">Featured Items</h2>
          <p class="text-gray-600">Handpicked pre-loved treasures</p>
        </div>
          {% include 'aroma/indexSection/FeaturedProducts.html' %}
        <div class="text-center mt-12">
          <a
            href="{% url 'shop' %}"
            class="bg-green-600 text-white px-8 py-3 rounded-md text-lg font-medium hover:bg-green-700"
          >
            View All Products
          </a>
        </div>
      </div>
    </section>
    

    <!-- Why Choose Us -->
    {% include 'aroma/indexSection/WhyChooseUs.html' %}

    <!-- Newsletter -->
    {% include 'aroma/indexSection/Newsletter.html' %}

    <!--Footer-->
    {% include 'aroma/footer.html' %}
  </body>

  <script>
    // Helper to make a column card
    function FuncHeroSectionImage() {
      const IMAGE_API = "/api/images/";
      const ImageTypeId = 2; // <-- CHANGE this ID if neede
      fetch(IMAGE_API)
        .then((res) => res.json())
        .then((images) => {
          const divHeroSection = document.getElementById("hero-section");
          const filteredImages = images.filter(
            (img) => img.imageTypeID === ImageTypeId
          );
          filteredImages.forEach((img, index) => {
            divHeroSection.innerHTML += `
                <img src="${img.imageURL}" alt="Sustainable Fashion" class="rounded-lg shadow-xl">
                `;
          });
        })
        .catch((err) => {
          console.error("Image load error:", err);
        });
    }

    FuncHeroSectionImage();
  </script>
</html>
